/* Articles (nodes) */
article {
  margin-bottom: 0em;
}
h1.node-title {
  margin: 0 0 0.18em;
}
article > header {
 border-bottom: solid 1px #e6e4de;
 position: relative;
}
article .node-content {
  padding: 1em 0;
  overflow: hidden;
}
article .links {
  font-size: 0.923em;
  text-transform: lowercase;
}
article .links a,
article .links a:visited {
  display: inline-block;
  padding: 0.3em 0.8em;
}
article .node-content a,
#content a {
  color: #df1d3a;
  text-decoration: underline;
}

.node-content img {
  border: solid 1px #e6e4de;
  padding: 0.5em;
}
.node-content .field-type-taxonomy-term-reference {
  border-left: solid 1px #e6e4de;
  display: inline;
  font-style: italic;
  margin-left: 0.6em;
  padding: 0 0 0 0.6em;
}
.node-content .field-type-taxonomy-term-reference.field-name-field-question-category {
  border: none;
  padding: 0;
  margin: 0;
}
article .tags .field-label,
.node-content .field-type-taxonomy-term-reference h2.field-label {
  display: inline;
  font-size: 90%;
  font-weight: normal;
  margin: 0;
}
.node-content .field-type-taxonomy-term-reference ul,
.node-content .field-type-taxonomy-term-reference ul  li {
  display: inline;
}
.node ul.links {
  margin: 0;
  text-transform: lowercase;
}
.node ul.links li {
  margin: 0;
  padding: 0 .75em 0 0;
}
.node ul.links li a {
  padding: 0.5em 1em;
  white-space: nowrap;
  font-size: 0.857em;
}

/* TAG */
.field-name-field-question-tags a,
.at-term {
  background: #bbb;
  display: inline-block;
  margin: 15px 15px 0 0;
  padding: 3px 10px;
  font-size: 0.75em;
  color:#fff !important;
  position: relative;
  font-style:normal;
  font-family: 'Trebuchet MS','Helvetica Neue',Arial,Helvetica,sans-serif;
}
.at-term {
  padding-right: 20px;
}
.views-field-title div a:first-child {
  display: none;
}
.views-field-title div a:after,
.field-name-field-question-tags a:after,
.at-term:after {
  display: block;
  content: " ";
  position: absolute;
  right: -24px;
  top: 0;
  border: 12px solid transparent;
  border-left: 12px solid #bbb;
}
.at-term-action-remove {
  background: transparent url('images/bt-remove-tag.png') left top no-repeat;
  color: white;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  height: 15px;
  line-height: 12px;
  overflow: hidden;
  padding-left: 4px;
  position: absolute;
  right: -6px;
  top: 4px;
  width: 15px;
  z-index: 99;
}

/* User box */
.node header.with-picture {
  min-height: 3.5em;
  float: right;
  padding: 3px 3px 2px 50px;
  font-size: 0.688em;
  background: #ffecef;
  border: 2px solid #df1d3a;
  font-family: 'Trebuchet MS','Helvetica Neue',Arial,Helvetica,sans-serif;
  width: 160px;
  margin: -20px 10px 10px 10px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
}
.search-info {
  padding: 3px 10px;
  font-size: 0.688em !important;
  background: #ffecef;
  border: 1px solid #df1d3a;
  font-family: 'Trebuchet MS','Helvetica Neue',Arial,Helvetica,sans-serif;
  margin-top: 8px !important;
  display: inline-block;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
}

.node header.with-picture {
  margin-top: 0;
}
.node header.with-picture .user-picture {
  left: 0;
  top: 0;
  height: 45px;
  position: absolute;
  width: 45px;
  background: white;
  border-right: 1px solid #df1d3a;
}

.node header.with-picture .user-picture img {
  padding: 0;
  border:0;
  display: block;
  height: 45px;
  width: 45px;
}
.answer {
  overflow: hidden;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}
/* voting */
.vote {
  float: left;
  margin-right: 15px;
  text-align: center;
}
.vote-count-post {
  font-family: 'Trebuchet', Arial;
  font-size: 150%;
  font-weight: bold;
  text-align: center;
  padding: 0;
}

.vote .vote-up,
.vote .vote-down {
  width: 40px;
  height: 15px;
  display: block;
  text-indent: -999em;
  font-size: 1px;
  background: url("images/stack_sprites.png") no-repeat scroll transparent;
}

.vote .vote-up {
  background-position: 0 -127px;
}

.vote .vote-down {
  background-position: 0 -161px;
}

div.answer.best span.vote-accepted-on {
  width: 40px;
  height: 35px;
  display: block;
  text-indent: -999em;
  font-size: 1px;
  background: url("images/stack_sprites.png") no-repeat 0 -319px transparent;
}

div.answer a.best-answer {
  width: 40px;
  height: 35px;
  display: block;
  text-indent: -999em;
  font-size: 1px;
  background: url("images/stack_sprites.png") no-repeat 0 -420px transparent;
}

article .answers div.already-voted {
  font-size: 12px;
  margin-bottom: 10px;
  color: #999999;
}

/* Answers */
article div.question, 
article div.answers,
article div.user-data {
  font-size: 85%;
}

article .answers h2 {
  border-bottom: 1px solid #cccccc;
  clear: both;
  padding: 5px;
}

article div.answer div.field-name-body {
  float: left;
  width: 94%;
}
article div.field-name-body {
  padding-bottom: 0;
}

article .field-type-text-with-summary p:last-child {
  margin-bottom: 10px;
}
  
article div.user-data {
  border: 1px solid #CCCCCC;
  min-width: 170px;
  float: right;
  font-size: 11px;
  padding: 6px;
  background: #f5f5f5;
  border-radius: 5px 5px 5px 5px;
}
article div.user-data .author img {
  background: white;
  margin-left: 0;
}
article .answers div.user-data {
  border: none;
  background: none;
  margin-bottom: 10px;
}

article div.user-data span.time {
  margin-bottom: 5px;
  display: block;
}

article div.user-data img {
  width: 32px;
}
.comment-box {
  border-top: 1px dashed #DDDDDD;
  clear: both;
}
.comments .new {
  cursor: pointer;
}
.comments-container .comment{
  border-top: 1px dashed #CCCCCC;
  clear: both;
  color: #444;
  font-size: 12px;
  margin: 0 auto;
  width: 80%;
  padding: 5px 0;
}
.comments-container .comment:last-child{
  border-bottom: 1px dashed #CCCCCC;
}
.comments-container .comment span {
  color: #999;
  white-space: nowrap;
}