/* Blocks. */
.block {
  margin-bottom: 20px;
}
.block-title {
  font-size: 1.385em;
  line-height: 1.2;
  margin: 0 0 0.4em 0;
}
.mini-panel-title {
  margin: 0 10px;
}
.region-header .block {
  clear: none;
  float: right;
  margin: 0;
}
#page > footer .block {
  margin: 0;
}
#page > footer .block .block-inner {
  padding: 20px 0;
}
/* Block lists */
.block ul li {
  margin: 0;
}
.block .item-list ul  {
  margin-left: 15px;
}
.block-panels_mini .mini-panel-title {
  margin: 0 10px;
}
/* Reset margins and padding for the Help block .block-inner */
#block-system-help .block-inner {
  padding: 0;
  margin: 0;
}
/* Reset block ul in the dashboard */
#dashboard .block ul {
  margin-left: 0;
}
.block-search .inner {
  padding-left: 0;
  padding-right: 0;
}
.region-header {
  float: right;
}
.region-header .block-search .inner {
  padding: 0;
}
#search-form input#edit-keys,
#block-search-form {
  float: right;
}
#block-search-form {
  margin-right: 10px;
}
#block-search-form .form-item-search-block-form input[type="search"] {
  float: left; /* LTR */
  font-size: 0.8em;
  padding: 0px 4px;
  width: 200px;
  margin-right: 5px;
  margin-top: 2px;
  height: 24px;
  border: none;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
#search-block-form input.form-submit,
#search-form input.form-submit {
  background: url('images/search-button.png') no-repeat scroll center top transparent !important;
  border-color: #E4E4E4 #D2D2D2 #B4B4B4;
  cursor: pointer;
  height: 25px;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
  padding: 0;
  text-indent: -9999px;
  width: 34px;
  margin-top: 2px;
  text-transform: uppercase; /* IE7 hack to trigger text indent reliably */
}
#search-block-form input.form-submit:hover,
#search-block-form input.form-submit:focus,
#search-form input.form-submit:hover,
#search-form input.form-submit:focus {
  background-position: center bottom !important;
}
.ie6-7 #search-block-form input.form-submit:hover,
.ie6-7 #search-block-form input.form-submit:focus,
.ie6-7 #search-form input.form-submit:hover,
.ie6-7 #search-form input.form-submit:focus {
  background-position: center -25px !important;
}

#top-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: rgba(213, 213, 213, 0.70);
}
#top-bar .top-bar-inner {
  max-width: 960px;
  margin: 0 auto;
  width: 100%;
}
#top-bar .top-bar-inner .notifications {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  background: url('images/cit-symbol.png') no-repeat scroll center top transparent;
}
.region-header .block-inner {
  margin: 0;
}
.region-header .block-menu {
  margin: 32px 0 35px 0 !important;
  font-weight: bold;
}
.block-menu .block-inner,
.block-menu .block-inner .last a {
  margin-right: 0;
}

#block-system-user-menu {
  float: right;
}

#block-system-main .ckeditor_links {
  display: none !important;
}

#block-views-tags-block ul {
  list-style: none;
  margin-left: 0;
}
